
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spinnaker&display=swap');


/*Grid layout the whole Page*/

body{
    font-family: 'Spinnaker', sans-serif;
}
main{
    display:flex;
    flex-direction: column;
      font-family: 'Sniglet', cursive;
    background-color:#F6F3F2;
}


footer{
   
   
}

/*Nav*/
nav{
   
    background-color:#D33A2C; 
    display: flex;
    padding: 30px;
}

nav > .logo > a >img{
    height: 79px;
    width: 59px;
}
ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

nav > ul > li > a{
    text-decoration: none;
     font-weight: 700;
     box-shadow: 1px 6px 12px -7px black;
    
}

nav > ul > li > a > img{
    height: 44px;
    width: 39px;
     transform: rotate(-20deg);
    transition: all 0.5s;
  
   
}
nav > ul > li > a:hover > img {
     transform: rotate(0deg); 
 
}
nav > ul > li > a:hover > h2,nav > ul > li > a:hover > p{
    color: black;
   
}
nav > ul > li > a:hover{
    box-shadow: none;
}

nav > ul > li > a > h2{
    font-size: 24px;
    margin-top: 16px;
    color: white;
    font-family: 'Sniglet', cursive;
}
nav > ul > li > a > p{
    font-size: 16px;
    color: white;
    margin-top: 13px;
    font-style: italic;
    font-weight: 100;
font-family: 'Open Sans', sans-serif;
}
.menuButton {
	display: flex;
    align-items: center;
}
.logo {
	display: flex;
    align-items: center;
}
.menuButton > button {
	height: 50px;
    width:127.5px;
    color:white;
    background-color:#D33A2C; 
    border: 3px solid white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
}
/*Styles for the first content in main content section*/
.content{
 width: 100%;
    display: flex;
    flex-direction: column;
}
.firstContent {
	display: flex;
    flex-direction: column;
    width: 100%;
}

.firstContent > header {
	position: relative;
    width: 100%;
}
.firstContent > header > div:nth-child(1) {
	
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top:40px;
    text-align: center;
    height: 100px;
    width: 50%;
    color: #333333;
    
    
}
.firstContent > header > div:nth-child(2) {
    position: absolute;
    text-align: center;
    right:60px;
    top:40px;
    
    
}
.firstContent > header > div > div >button{
    height: 40px;
    width:157.5px;
    color:white;
    background-color:#D33A2C; 
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
        margin-top: 10px;
     transition: all 0.3s;  
}

.firstContent > header > div > div >button:hover {
     background-color: white;
    color:#C7372A;
}

.headTitleContainer > div{
    
    font-size: 30px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.25);
    font-family: 'Sniglet', cursive;
    font-weight:bolder;
    margin-top: 24px;
    
}

.rowOne{
	display: flex;
    flex-direction: row;
    width: 100%;
} 
.rowTwo {
	display: flex;
    flex-direction: row;
    width: 100%;
} 
.headTitleContainer{
    display: flex;
    flex-direction: column;
   
    
}
.headTitleTwo{
	background: white;
    width: 100%;
    padding: 10px;
     
    
}
.headTitle{
	background: white;
    width: 100%;
    padding: 10px;
      box-shadow: 0px 108px 28px -24px black;
}
.headIcon > img{
  height: 61px;
    width: 61px;
    border-radius: 10px;
    background: white;
        margin-right: 30px;
    
    transform: rotate(-20deg);
    transition: all 0.3s;  
}
.headIcon > img:hover{
     transform: rotate(0deg); 
 
}

.headIconContainer{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
}

.rowOne  > a > .firstArticle{
	       background: #BC3428;
    height: 722px;
    width: 643.6px;
    padding-top: 238px;
    padding-left: 68px;

    box-sizing: border-box;
}
 .rowOne > a > .secondArticle{
	background:#C7372A;
    height: 722px;
      width:643.6px;
       padding-top: 238px;
    padding-left: 68px;

        box-sizing: border-box;
}
 .rowTwo  > a > .thirdArticle{
	background: #B13125;
      height: 573px;
      width: 100%;
    padding-top: 73px;
    padding-left: 68px;
    box-sizing: border-box;

        box-sizing: border-box;
}
 .rowTwo > a > .fourthArticle{
	background: #BC3428;
        height: 573px;
  width: 100%;
    padding-top: 73px;
    padding-left: 68px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}

.authorDetails {
	display: flex;
}
.authorDetails > img{
       height: 75px;
    width: 75px;
    border-radius: 14px;
    transform: rotate(-20deg);
    border: 4px solid white;
}
.authorDetails > h2{
   font-size: 21px;
    font-family: 'Sniglet', cursive;
    color: white;
    margin-left: 40px;
    margin-bottom: 101px;
    margin-top: 10px;
    /* align-self: center; */
    text-decoration: none;
}
.authorDetails > h2 > span{
        font-size: 15px;
    font-family: sans-serif;
    color: white;
    font-weight: 400;
}
.articleTitle > h1 {
        font-size: 47px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.25);
    color: white;
        font-family: 'Sniglet', cursive;
}
.articleTitle > h1 > span {
        font-size: 15px;
   
}
.tags {
	
        display: flex;
    color: white;
         font-family: 'Sniglet', cursive;
    font-size: 17px;
    margin-top: 30px;
}
.tags > p:nth-child(2),.tags > p:nth-child(3){
  padding-left: 20px;  
}

.arrowIcon {
	margin-top: 93px;
background-image: url(images/right-arrow.svg);
background-position: -21px;
background-size: 100px 50px;
background-repeat: no-repeat;
width: 200px;
height: 15px;
}


.arrowIconTwo {
	    margin-top: 139px;
background-image: url(images/right-arrow.svg);
background-position: -21px;
background-size: 100px 50px;
background-repeat: no-repeat;
width: 200px;
height: 15px;
    
}
/*Styles for the second content in main content section*/

.secondContent {
	    width: 100%;
    display: flex;
    text-align: left;
    justify-content: center;
     margin-top: 15px;
     margin-bottom: 15px;
       background: #F6F3F2;
}

.secondContent > .articleWrap {
	width:446px;
     height: 492px;
    box-sizing: border-box;
padding: 30px 40px 0 40px;
  
    background: #F6F3F2;
    transition: all 0.5s ease-out;
    position: relative;
}

.secondContent > .articleWrap:hover{
   background: white;
    transform: scale(1.05);
    z-index: 10;
    box-shadow: 1px 0px 25px gray;
}
.articleWrap:hover > a > .arrowContainer > .arrowIconThree{
background-image: url(images/right-arrow.svg);
background-position: -32px;
background-size: 100px 35px;
background-repeat: no-repeat;
width: 100px;
height: 13px;
 

}
.articleWrap:hover > a > .arrowContainer{

    background-color: #006fc6;

}



.arrowContainer > .arrowIconThree{
    margin-top: 44px;
    margin-left: 33px;
background-image: url(images/right-arrow-red.svg);
background-position: -21px;
background-size: 67px 45px;
background-repeat: no-repeat;
width: 200px;
height: 15px;
}

.arrowContainer{
  height: 100px;
width: 122px;

position: absolute;
left: 0;
bottom: 0;
}

.articleDate {
	font-size: 11px;
        color: grey;
}
.articleTitleOne {
	  font-size: 25px;
    color: black;
    line-height: 32px;
    text-decoration: underline;
}
.by {
	    margin-bottom: 34px;
    margin-top: 24px;
    color: #666;
}
.by > p >a {
	 
    color: #666;
    text-decoration: underline;
}
.articleContent > p {
	 font-size: 16px;
font-family: 'Open Sans', sans-serif;
line-height: 27px;
}
.adjustment{
    margin-top: 120px;
}
/*Styles for the third content in main content section*/

.thirdContent{
    display: flex;
       background: #F6F3F2;
    margin-top: 15px;
     margin-bottom: 15px;
    position: relative;
    
}

.thirdContent > p{
  position: absolute;
    left: 125px;
}



.redArticle{
 background-color: #d33a2c;
border-radius: 10px;
width: 851px;
padding: 20px;
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
    text-align: center;
align-items: center;
    
}
.redArticleTitle{
    font-size: 33px;
text-decoration: underline;
    font-weight: bold;
border-bottom: 2px solid whitesmoke;
color: white;
}

.redArticleContent {
 width: 464px;
    
}
.redArticleContent > p{
   color: white;
padding-top: 40px;
font-family: 'Open Sans', sans-serif;
font-size: 19px;
line-height: 26px;
    
}
.redArticleContent > p >a{
   color: white;
text-decoration: underline;

}
.redArticleButton{
    height: 56px;
width: 321.5px;
color: #006fc6;
border: 3px solid white;
background-color: white;
border-radius: 10px;
font-size: 20px;
cursor: pointer;
font-weight: 700;
margin-top: 21px;
text-align: center;
}


.blackAdWrap{
    	width:446px;
       background: #F6F3F2;
    box-sizing: border-box;
padding: 30px 40px 0 40px;
}
.blackAd{
   background-color: black;
box-sizing: border-box;
border-radius: 10px;
height: 208px;
width: 378px;
padding-top: 30px;
    padding: 30px 25px 0 25px;
text-align: center;
}

.blackAd > p{
color: white;
margin-top: 18px;
font-size: 17px;
}
.blackAd > button{
  height: 28px;
width: 168px;
color: #006fc6;
color: white;
border: 3px solid #d33a2c;
background-color: #d33a2c;
border-radius: 10px;
font-size: 12px;
cursor: pointer;
margin-top: 21px;
text-align: center;
}

/*Styles for the fourth content in main content section*/

.fourthContent {
	    width: 100%;
    display: flex;
    text-align: left;
    justify-content: center;
     margin-top: 15px;
     margin-bottom: 15px;
       background: #F6F3F2;
}

.fourthContent > .articleWrap {
	width:446px;
     height: 492px;
    box-sizing: border-box;
padding: 30px 40px 0 40px;
  
    background: #F6F3F2;
    transition: all 0.5s ease-out;
    position: relative;
}

.fourthContent > .articleWrap:hover{
   background: white;
    transform: scale(1.05);
    z-index: 10;
    box-shadow: 1px 0px 25px gray;
}













/*Styles for the fifth content in main content section*/

.fifthContent{
    display: flex;
       background: #F6F3F2;
     margin-top: 10px;
     margin-bottom: 10px;
    
    
}
.fifthContent > .articleWrap {
	width:446px;
    height: 616px;
    box-sizing: border-box;
padding: 60px 40px 0 40px;
    background: #F6F3F2;
    transition: all 0.5s ease-out;
    position: relative;
}

.fifthContent > .articleWrap:hover{
   background: white;
    transform: scale(1.05);
    z-index: 10;
     box-shadow: 1px 0px 25px gray;
}




/*Styles for the sixth content in main content section*/



/*MY PART DANILO*/


.half-part-one{
    background-image: linear-gradient(#ce05a9 10%,#3e62ff 100%);
   width: 100%;
   height: 925px;
}
.back-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;


}
 .back-info > .conf-panel__meta {
    display: block;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 700;
       margin-bottom: 1.5em;
color: #fff;
text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.back-info > .comm-link{
font-size: 50px;
color: white;
text-decoration: none;
font-weight: 500;
font-family: 'Merriweather', serif;
margin-bottom: 1.5em;
}

  .back-info > .about-commercial{
    
    font-size: 26px;
    color: white;
    width: 66%;
    text-align: center;
     margin-bottom: 1.5em;
  } 

   .back-info >.back-image {
    width: 920px;
        height: 557px;
  }
  .back-info > .btn-link{
      margin-bottom: 1.5em;
  }
.back-info > .btn-link > .btn-comm{
    padding: 18px 24px;
    border-radius: 10px;
    font-size: 25px;
    color: #267DCC;
  }
.designer{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 50px;
   
}
.design-wrapper{
    display: flex;
    flex-direction: row;

}

.designer-one > img{
border-radius: 50%;
 transition:transform 0.8s ease-in-out;
 transform: rotate(-20deg);
 box-shadow: 0px 27px 25px -19px;
}
.designer-one > img:hover{
box-shadow: none;
transform: none;
}

.designer-one > img{
    border:10px solid red;
    border-radius: 10px;

}
.design-title{
    margin-left: 120px;
    font-size: 17px;
    margin-bottom: 1.5rem;
    text-align:left;
    
}
.design-text{
    margin-left: 120px;
    font-size: 17px;
    line-height: 5px;
    line-height: 35px;
    text-align:left;
    
  width: 85%;

}
.design-text > a{

font-size: 17px;
    color: #267DCC;
    
}


/*DESIGNERS*/


.designers{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 30px;
}
.designer-wrapp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 150px;
}
.designer-first > img{
    width: 76px;
    height: 76px;
    border:5px solid red;
    border-radius: 10px;
}

.designer-title-one , a{
    
    font-size: 17px;
    color: #666666;
    margin-bottom: 1.5rem;
}
.designer-title-two a{
   
    font-size: 30px;
    color: black;
    
    text-decoration:none;
}

.designer-text{
       
    font-size: 17px;
    color: black;
    line-height: 30px;
    width: 458px;
    height: 156px;
    margin-top: 1.5rem;
}
.distance{
margin-left: 5px;

}
.designer-first > img{

 transition:transform 0.8s ease-in-out;
 transform: rotate(-20deg);
 box-shadow: 0px 27px 25px -19px;
}
.designer-first > img:hover{
box-shadow: none;
transform: none;
}

.designer-text > a{
    font-size: 17px;
    color: #267DCC;
    
}
.link-more{
    margin:0 auto;
    margin-top: 50px;
    border-bottom: 5px solid red;
    height: 30px;
}
.link-more a{
    font-size: 17px;
    font-family: 'Merriweather', serif;
    color: black;
    text-decoration: none;

}

/*BANNER
*/


.banner{
    width: 100%;
        height: 335px;
    background-color: hsl(5, 65%, 50%); 
    margin-top: 100px;
    display: flex;
    flex-direction: row;

}
.ban-position{
     text-align: left;
     margin-left: 20px;
     margin-top: 20px;
  margin-left: 50px;



}

.banner-title{
font-size: 23px;
    color: white;
margin-bottom: 1em;
}
.banner-text{
margin-top: 1em;
     
    font-size: 20px;
    color: white;
        width: 80%;
   line-height: calc(1.5em + .2vw);
   margin-bottom: 1.5em;
     
}

.banner-link-title a{

    font-size: 40px;
color: white;
text-decoration: none;
font-weight: 500;
font-family: 'Merriweather', serif;
margin-bottom: 1.5em;
 border-bottom: 5px solid hsl(5, 66%, 70%);
}
.banner-link > .btn-banner{

    padding: 13px 20px;
    border-radius: 10px;
    font-size: 22px;
    color: #267DCC;
}

a > .book{
position: relative;
    right: -50px;
     bottom: 165px;
     width: 50%;


}
a > .book > img{
  width: 322px;
  height: 414px;  
  float: right;
 transition:transform 0.8s ease-in-out;
 transform: rotate(-20deg);
}

a > .book > img:hover{
    
transform: none;
}
.second-articles{

display: flex;
flex-direction: row;
width: 97%;
margin-left: 3%;
margin-top: 20px;


   }

.articles-one{
    width: 475px;
    height: 670px;
 transition: all 0.5s ease-out;
}
.articles-one:hover{
      background: white;
    transform: scale(1.05);
    z-index: 10;
    box-shadow: 1px 0px 25px gray;
}
.art-position{
    margin-top: 30px;
    margin-left: 30px;
}

.guides{
    font-size: 14px;
    color: grey;
}

.art-title{
    font-size:28px;
    margin-top: 1em;
    width: 80%;
}
.art-links{
       width: 80%;
 margin-top: 1em;
}
.art-links > ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style: none;
}
.art-links li::before {content: "•"; color: red;font-size: 25px;}


   .art-links li {

    padding-top: 30px;
   }
   .art-links li a{
           font-size: 20px;
    color: #267DCC;
    
    text-decoration: underline;

   }

  /* LAST CONTENT BEFORE FOOTER*/

  .before-footer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }

.redArt > a{
    text-decoration: none;
     font-size: 33px;
    font-weight: bold;
color: white;
}
.con-two{
    width: 80%;
}

.btn-smash{
      height: 56px;
width: 321.5px; 
border: 3px solid white;
background-color: white;
border-radius:10px 0 0 10px;
font-size: 17px;
cursor: pointer;
font-weight: 700;
margin-top: 21px;
text-align: center;
color: black;
}
.subscribe{
     height: 56px;
    width: 155.5px;
border: 3px solid white;
background-color: white;
border-radius:0 10px 10px 0;
font-size: 17px;
cursor: pointer;
font-weight: 700;
margin-top: 21px;
text-align: center;
color: #267DCC;
}
.redArticleContent > .second-comm{
    width: 482px;
    height: 521px;
}

.link-more{
    margin-top: 200px;
}
/*FOOTER PART*/

footer{
    margin-top: 100px;
    width: 100%;
       height: 585px;
    background-color: hsl(5, 65%, 50%);
}
.footer-title{
    text-align: center;
    color: white;
    font-size: 16px;
    margin-top: 50px;
}
.footer-content{
    width:1256px;
    height: 235px;
    margin-left: auto;
    margin-right: auto;
}
.main-links{
       width: 100%;
   margin-top: 50px;

    display: block;
    list-style-type: disc;
    margin-block-start: 0.5em;
    margin-block-end: 1em;
    margin-inline-start: -3%;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.main-links > li::before{
   
    content: "•"; color: #811d15;font-size: 30px;
}
.main-links > li{
    display: inline-block;
    padding-top: 10px;

}
.main-links > li  > a{
    font-size: 24px;
    color: white;
    padding: 5px;
}
.main-links > li  > a:hover{
    color:black; 
}
.footer-text-pos{
    display: flex;
    flex-direction: column;
        width: 40%;
        text-align: center;
        margin: 0 auto;
}
.footer-text{
    font-size: 17px;
    color: white;  
    margin-top: 10px; 
}
.footer-text > a{
    color: white;
    text-decoration: underline;
}
.last-links-width{
    display: flex;
    flex-direction: column;
   align-items: center;
   margin-top: 50px;


}
.last-links{
    display: flex;
    flex-direction: row;
}
.last-links a{
    color: white;
    font-size: 17px;
    margin-left: 20px;
    text-decoration: underline;
}

